## <font color ='blue'> Data Science Academy - Python Fundamentos - Capítulo 3

<b>Loop For</b>

In [1]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2, 3, 4)
for i in tp:
    print(i)

2
3
4

In [2]:
# Criando uma lista e imprimindo cada um dos valores
ListaDoMercado = ['Leite', 'Frutas', 'Carne']
for i in ListaDoMercado:
    print(i)

Leite
Frutas
Carne

In [4]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0, 5):
    print(contador)

0
1
2
3
4

In [5]:
# Imprimindo na tela os números pares da lista de números
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in lista:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [7]:
# Listando os números no intervalo entre 0 e 101, com incremento em 2
for i in range(1, 101, 2):
    print("Número : ", i)

Número :  1
Número :  3
Número :  5
Número :  7
Número :  9
Número :  11
Número :  13
Número :  15
Número :  17
Número :  19
Número :  21
Número :  23
Número :  25
Número :  27
Número :  29
Número :  31
Número :  33
Número :  35
Número :  37
Número :  39
Número :  41
Número :  43
Número :  45
Número :  47
Número :  49
Número :  51
Número :  53
Número :  55
Número :  57
Número :  59
Número :  61
Número :  63
Número :  65
Número :  67
Número :  69
Número :  71
Número :  73
Número :  75
Número :  77
Número :  79
Número :  81
Número :  83
Número :  85
Número :  87
Número :  89
Número :  91
Número :  93
Número :  95
Número :  97
Número :  99

In [9]:
# String também são sequencias
for caracter in "Python é uma linguagem de programação divertida!":
    print(caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

d
i
v
e
r
t
i
d
a
!

In [11]:
# Ordenar
ordenador = []
for caracter in "Python é uma linguagem de programação divertida!":
    ordenador.append(caracter)

ordenador.sort()
for caracater in ordenador:
    print(caracater)

!
P
a
a
a
a
a
d
d
d
e
e
e
g
g
g
h
i
i
i
l
m
m
m
n
n
o
o
o
p
r
r
r
t
t
u
u
v
y
ã
ç
é

<b>Loops Aninhados</b>

In [13]:
# Loops aninhados
for i in range(0, 5):
    for a in range(0, 5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [14]:
# Operando os valores de um lista com loop for
listaB = [32, 53, 85, 10, 15, 17, 19]
soma = 0
for i in listaB:
    double_i = i * 2
    soma += double_i
print(soma)

462

In [16]:
# Loops em listas de listas
listas = [[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]
for valor in listas:
    print( valor)

[1, 2, 3]
[10, 15, 14]
[10.1, 8.7, 2.3]

In [18]:
# Contando os itens de uma lista
lista = [5, 6, 10, 13, 17]
count = 0
for item in lista:
    count+=1
print(count)

5

In [24]:
# Tabuada
valorTabuada = int(input('Digite o número que deseja a tabuada:'))
resultado = 0
print("Você solicitou a tabuada do..: ", valorTabuada)
for i in range(1, 11):
    resultado = valorTabuada * i
    print("%r x %r = %r " %(valorTabuada, i, resultado))

Digite o número que deseja a tabuada:5
Você solicitou a tabuada do..:  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [25]:
# Contando o número de colunas
lst = [[1, 2, 3], [3, 4, 5], [5, 6, 7]]
primeira_linha = lst[0]
count = 0
for column in primeira_linha:
    count = count +1
print(count)

3

In [27]:
# Pesquisando em listas
listaC = [5, 6, 7, 10, 50]

# Loop através da lista
for item in listaC:
    if item == 5:
        print("Número %r encontrado na lista" %(item))

Número 5 encontrado na lista

In [36]:
# Listabdo as chaves de um dicionário
dict = {'k1':'Python', 'k2':'R', 'k3': 'Scala'}
for item in dict:
    print(item, " = ", dict[item])

k1  =  Python
k2  =  R
k3  =  Scala

In [37]:
# Imprimindo chave e valor do dicionário. Usando o método items() para retornar os itens de um dicionário

for k, v in dict.items():
    print(k,v)

k1 Python
k2 R
k3 Scala

## Fim