## <font color = 'blue'> Data Science Academy - Python Fundamentos - Capítulo 6

## Leitura de Dados

In [3]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão
conn = sqlite3.connect('dsa.db')

# Criando o cursos
c = conn.cursor()

# Função para criar tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENTNOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    
# Função inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2016', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = "monitor"
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)",
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 60.0")
    for linha in c.fetchall():
        print(linha)

# Leitura de colunas específicas
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])

In [4]:
# Select nos dados
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'teclado', 90.0)
(11, '2022-12-29 14:04:18.334018', 'Monitor', 73.0)
(12, '2022-12-29 14:05:24.605503', 'Monitor', 78.0)
(13, '2022-12-29 14:05:25.611463', 'Monitor', 80.0)
(14, '2022-12-29 14:05:26.616829', 'Monitor', 83.0)
(15, '2022-12-29 14:05:27.619525', 'Monitor', 96.0)
(16, '2022-12-29 14:05:28.623526', 'Monitor', 76.0)
(17, '2022-12-29 14:05:29.627510', 'Monitor', 70.0)
(18, '2022-12-29 14:05:30.631531', 'Monitor', 94.0)
(19, '2022-12-29 14:05:31.635751', 'Monitor', 83.0)
(20, '2022-12-29 14:05:32.639190', 'Monitor', 56.0)
(21, '2022-12-29 14:05:33.643538', 'Monitor', 56.0)

In [5]:
# Leitura de registros específicos
leitura_registros()

(10, '2018-05-02 14:32:11', 'teclado', 90.0)
(11, '2022-12-29 14:04:18.334018', 'Monitor', 73.0)
(12, '2022-12-29 14:05:24.605503', 'Monitor', 78.0)
(13, '2022-12-29 14:05:25.611463', 'Monitor', 80.0)
(14, '2022-12-29 14:05:26.616829', 'Monitor', 83.0)
(15, '2022-12-29 14:05:27.619525', 'Monitor', 96.0)
(16, '2022-12-29 14:05:28.623526', 'Monitor', 76.0)
(17, '2022-12-29 14:05:29.627510', 'Monitor', 70.0)
(18, '2022-12-29 14:05:30.631531', 'Monitor', 94.0)
(19, '2022-12-29 14:05:31.635751', 'Monitor', 83.0)

In [6]:
# Leitura de colunas específicas
leitura_colunas()

90.0
73.0
78.0
80.0
83.0
96.0
76.0
70.0
94.0
83.0
56.0
56.0

In [8]:
# Encerrando a conexão
c.close()
conn.close()

## Fim